<div class="user_content"> 
  <h3>設定</h3>

  <div class="user_content_main">
    <ul class="user_nav">
      <li><%= link_to "アカウント",users_account_path %></li>
      <li><%= link_to "プロフィール",users_profile_path %></li>
    </ul>

    <div class="user_info">
      <table class="user_table">
      <tr>
        <th>プロフィール</th>
        <th><%= link_to "編集",users_profile_edit_path %></th>
      </tr>
      <tr>
        <td>アイコン画像</td>
        <td>
          <% if @user.icon? %>
            <%= image_tag @user.icon.url  %>
          <% else %>
            <%= image_tag ("default.png")  %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>名前</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>自己紹介</td>
        <td><%= @user.introduction %></td>
      </tr>
      </table>
    </div>
  </div>
</div>