<div class="home">
  <h1>Potepan Shareでまだ体験したことのない旅をしよう</h1>
  <div class="search_box">
    <%= search_form_for @q,url: rooms_index_path do |f| %>
      <%= f.search_field :address_cont,placeholder:"エリア名を入力" %>
      <%= f.submit '検索'%>
    <% end %>
  </div>
  <p>おすすめエリア</p>
  <ul class="recomend_area">
    <li>
    <%= search_form_for @q,url: rooms_index_path do |f| %>
      <%= f.hidden_field :address_cont,value: "東京" %>
      <%= f.submit '東京',class: 'button' %>
    <% end %>
    </li>
    <li>
    <%= search_form_for @q,url: rooms_index_path do |f| %>
      <%= f.hidden_field :address_cont,value: "大阪" %>
      <%= f.submit '大阪',class: 'button' %>
    <% end %>
    </li>
    <li>
    <%= search_form_for @q,url: rooms_index_path do |f| %>
      <%= f.hidden_field :address_cont,value: "京都" %>
      <%= f.submit '京都',class: 'button' %>
    <% end %>
    </li>
    <li>
    <%= search_form_for @q,url: rooms_index_path do |f| %>
      <%= f.hidden_field :address_cont,value: "札幌" %>
      <%= f.submit '札幌',class: 'button' %>
    <% end %>
    </li>
  </ul>
</div>
