<h3>再予約する</h3>
 
 <table>
   <thead>
     <tr>
       <th>施設画像</th>
       <th>施設名</th>
       <th>紹介文</th>
       <th>宿泊料金</th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td>
         <% if @reservation.room.image? %>
            <%= image_tag @reservation.room.image.url %>
        <% else %>
            <%= image_tag ("room_default.png") %>
        <% end %>
         </td>
         <td><%= @reservation.room.name %></td>
         <td><%= @reservation.room.introduction %></td>
         <td><%= @reservation.room.fee %></td>
       </tr>
   </tbody>
 </table>
<%= form_with(model: @reservation, url: edit_confirm_reservation_path) do |f| %>
  <div>
    <div>
      <div><%= f.label :check_in,"チェックイン"%></div>
      <div><%= f.date_field :check_in %></dev>
    </div>
    <div>
      <div><%= f.label :check_out,"チェックアウト" %></div>
      <div><%= f.date_field :check_out %></dev>
    </div>
    <div>
      <div><%= f.label :users_num,"人数" %></div>
      <div><%= f.text_field :users_num %></dev>
    </div>
  </div>
  <div><%= f.submit "予約する" %></div>
<% end %>
 <p><%= link_to "戻る", :reservations %></p>