<h3>施設情報一覧</h3>
 
 <table>
   <thead>
     <tr>
       <th>施設画像</th>
       <th>施設名</th>
       <th>紹介文</th>
       <th>宿泊料金</th>
       <th>作成日</th>
       <th>user_id</th>
       <td></td>
       <td></td>
       <td></td>
     </tr>
   </thead>
 
   <tbody>
     <% @rooms.each do |room| %>
       <tr>
         <td>
         <% if room.image? %>
            <%= image_tag room.image.url %>
        <% else %>
            <%= image_tag ("room_default.png") %>
        <% end %>
         </td>
         <td><%= room.name %></td>
         <td><%= room.introduction %></td>
         <td><%= room.fee %></td>
         <td><%= room.created_at.to_s(:datetime_jp) %></td>
         <td><%= room.user_id %></td>
         <td><%= link_to "参照",room %></td>
         <td><%= link_to "更新",[:edit,room] %></td>
         <td><%= link_to "削除",room,method: :delete,data:{confirm:"本当に削除しますか？"} %></td>
       </tr>
     <% end %>
   </tbody>
 </table>
 
 <p><%= link_to "施設登録", :new_room %></p>
 <p><%= link_to "登録済み一覧", own_rooms_path %></p>
 <p><%= link_to "アカウント情報へ", users_account_path %></p>
 <p><%= link_to "プロフィール画面へ", users_profile_path %></p>