<div class="wrapper">
  <h3  class="room_title">登録済み一覧</h3>
  <% if flash['notice'] %>
    <p class="notice"><%= flash['notice'] %></p>
  <% end %>
  <table class="room_table">
   <thead>
     <tr>
       <th>施設名</th>
       <th>施設画像</th>
       <th>紹介文</th>
       <th>宿泊料金</th>
       <th>作成日</th>
       <td></td>
       <td></td>
     </tr>
   </thead>
   <tbody>
     <% @rooms.each do |room| %>
       <tr>
         <td><%= link_to "#{room.name}",room %></td>
         <td>
          <% if room.image? %>
              <%= image_tag room.image.url %>
          <% else %>
              <%= image_tag ("room_default.png") %>
          <% end %>
         </td>
         <td><%= room.introduction %></td>
         <td><%= room.fee %> 円</td>
         <td><%= room.created_at.to_s(:datetime_jp) %></td>
         <td><%= link_to "編集",[:edit,room] %></td>
         <td><%= link_to "削除",room,method: :delete,data:{confirm:"本当に削除しますか？"} %></td>
       </tr>
     <% end %>
   </tbody>
  </table>
 </div>
